@media screen and (max-width: 575px) {
  section {
    font-family: "Roboto";
    &.red-building {
      padding-top: 50px;
      align-items: flex-start;
    }
    .building-info {
      margin: 5px 15px;
      padding: 10px;
    }

    .one-building-info-box {
      text-align: center;
      width: 100%;
      border-radius: 30px;
      padding: 15px;
      max-width: 350px;
      &__descriptions {
        padding: 6px;
        font-size: 10px;
        min-height: 75px;
      }
      h5,
      h2 {
        font-size: 12px;
      }
      .flats-info-box {
        &__item {
          padding: 6px;
        }
        h3 {
          font-size: 12px;
        }
        p {
          font-size: 10px;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}
