section {
  font-family: "Roboto";
  &.red-building {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 230px);
  }
  .building-info {
    width: 100%;
    max-width: 455px;
    margin: 5px 30px;
    padding: 15px;
    border-radius: 30px;
  }

  .one-building-info-box {
    text-align: center;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    max-width: 350px;
    &__descriptions {
      padding: 12px;
      font-size: 14px;
      text-align: justify;
      min-height: 250px;
    }
    h5,
    h2 {
      border-radius: 10px;
      text-align: center;
      font-weight: 100;
    }
    .flats-info-box {
      &__item {
        padding: 12px;
        &.free {
          span {
            color: #05b548;
          }
        }
        &.booking {
          span {
            color: #ebff00;
          }
        }
        &.action {
          span {
            color: #0500ff;
          }
        }
        &.sold {
          span {
            color: #ff0505;
          }
        }
      }
      h3 {
        border-radius: 10px;
        text-align: left;
        font-weight: 100;
      }

      p {
        text-align: left;
        border-radius: 10px;
        font-weight: 300;
      }
      span {
        font-size: 20px;
        color: #fca503;
        margin-left: 15px;
        padding-right: 15px;
        font-weight: 700;
      }
    }
  }
  svg {
    height: 100%;
    max-width: 100%;
    .floor {
      fill: #53515148;
      stroke: #000000;
      cursor: pointer;
      fill-opacity: 0.5;
      stroke-opacity: 0.15;
      stroke-width: 1px;
      transition: 0.3s;
      &:hover {
        fill-opacity: 0.5;
        stroke-opacity: 0.4;
        &.floor {
          fill: #28ff05;
          stroke: #28ff05;
          &.sold {
            fill: #ff0505;
            stroke: #ff0505;
          }
          &.booking {
            fill: #ebff00;
            stroke: #ebff00;
          }
          &.action {
            fill: #0500ff;
            stroke: #0500ff;
          }
        }
      }
    }
  }
  .floor-link {
    &.sold {
      &:hover {
        path {
          cursor: not-allowed;
        }
      }
    }
  }
}
