section {
  font-family: "Roboto";
  &.red-building {
    @extend .building;
  }
  .building-info {
    width: 100%;
    max-width: 1280px;
    margin: 0 30px;
  }

  .red-building-info-box {
    text-align: center;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    max-width: 350px;
    &__descriptions {
      padding: 12px;
      font-size: 14px;
      text-align: justify;
      min-height: 250px;
    }
    h5,
    h2 {
      border-radius: 10px;
      text-align: center;
      font-weight: 100;
    }
    .flats-info-box {
      &__item {
        padding: 12px;
      }
      h3 {
        border-radius: 10px;
        text-align: left;
        font-weight: 100;
      }

      p {
        text-align: left;
        border-radius: 10px;
        font-weight: 300;
      }
      span {
        font-size: 18px;
        color: #fca503;
        margin-left: 15px;
        padding-right: 15px;
        font-weight: 700;
      }
    }
  }
}
